@font-face {
	font-family: 'mkzicons';
	src:
	  url('mkzicons.ttf?e42aob') format('truetype'),
	  url('mkzicons.woff?e42aob') format('woff'),
	  url('mkzicons.svg?e42aob#mkzicons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }

  [class^="mkzicons-"], [class*=" mkzicons-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'mkzicons' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .mkzicons-mastodon:before {
	content: "\e900";
  }
  .mkzicons-pen:before {
	content: "\e908";
  }
  .mkzicons-film:before {
	content: "\e913";
  }
  .mkzicons-bubbles3:before {
	content: "\e96f";
  }
  .mkzicons-earth:before {
	content: "\e9ca";
  }
